
/* ==================================================================== */

body{
  overflow: hidden;
}

.rightSideBar,
.mainSite,
.leftSideBar {
  /* border: 1px solid black; */
  height: 100vh;
  direction: rtl;
}

.mainSite{
  background-color: rgba(85, 85, 85, 0.226);
  overflow-y:scroll!important;
  overflow-x: hidden;
  scrollbar-color: rgb(27, 27, 27) white !important;
  scrollbar-width: thin!important;
  direction: ltr;
}

.rightSideBar {
  border-left: 1px solid rgb(0, 119, 255);
  overflow-y:scroll!important;
  overflow-x: hidden;
  scrollbar-color: rgb(27, 27, 27) white !important;
  scrollbar-width: thin!important;
}

.leftSideBar {
  border-right: 1px solid rgb(0, 119, 255);
  overflow-y:scroll!important;
  overflow-x: hidden;
  scrollbar-color: rgb(27, 27, 27) white !important;
  scrollbar-width: thin!important;
}
